/* Google CSS Styles 
font-family: 'PT Sans', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Lobster', cursive;
*/

body {
    background-image: url("../img/backgroundImage.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 250%;
  font-weight: bolder;
  padding: 10px;
  text-align: center;
  text-shadow: rgb(189, 111, 39);
  color: white;
}

h2 {
    margin: 5px;
    font-family: 'Karla', sans-serif;
    font-size: 180%;
    clear: both;
    font-weight: bold;
    color: white;
    padding: 10px;
}

p {
    margin: 20px;
    font-family: 'Karla', sans-serif;
    font-size: 105%;
    opacity: 0.5;
    color: white;
    line-height: 1.5;
}

.productsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-style: groove;
}

.productbox1 {
  display: flex;
  width: 30%; /*use percentages*/
  height: 30%;
}

.productbox2 {
  display: flex;
  width: 30%;
  height: 30%;
}

.productbox3 {
  display: flex;
  width: 30%;
  height: 30%;
}

.productbox > img {
  width: 250px;
  height: auto;
  margin: auto;
  border-style: solid;
}

#resultstable {
    margin: 40px;
    font-family: 'Karla', sans-serif;
    border-collapse: collapse;
    clear: both;
    color: white;
    padding: 10px;
  }
  
#resultstable td {
    border: 1px solid #ddd;
    padding: 10px;
}

#resultstable tr {
    border: 1px solid #ddd;
    padding: 10px;
}

#resultstable th{
    border: 1px solid #ddd;
    padding: 10px;
}
  
#resultstable tr:nth-child(even){
    background-color: black;
    opacity: 0.5;
}

#resultstable tr:nth-child(odd){
    background-color: black;
    opacity: 0.5;
    padding: 10px;
}

#resultstable tr:first-child{
    color: white;
    padding: 10px;
}

#resultstable tr:hover {
    background-color: white;
    color: black
 }

#resultschart {
    display: flex;
    justify-content: center;
}

.button {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  }

  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }
  
  .button3:hover {
    background-color: #f44336;
    color: white;
  }

  ol {
    margin: 20px;
    font-family: 'Karla', sans-serif;
    font-size: 120%;
    opacity: 0.5;
    color: white;
    line-height: 1.5; 
  }

.resetbutton{
    color: #4CAF50;
    font-weight: bold;
    font-style: italic;
}

.previousdatabutton{
    color: #008CBA;
    font-weight: bold;
    font-style: italic;
}

.localbutton{
    color: red;
    font-weight: bold;
    font-style: italic;
}

.footer {
    font-family: 'Karla', sans-serif;
    position: fixed;
    left: 0;
    text-shadow: #cce5ff;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    border-top: 20px;
    opacity: 1.0;
    padding: 5px;
  }